---
import {CollectorsData} from "../data"
import Chevron from "../icons/Chevron.astro"
import Verified from "../icons/Verfied.astro"
---

<section class="pt-14 md:pt-32">
    <p class="text-[#7F35FF] text-lg">This week</p>
<div class="flex sm:flex-row justify-between flex-col">
    <div class="flex flex-col">
        <h2 class="text-white font-bold text-3xl">Top Collectors</h2>
    </div>
    <div class="pt-5 md:pt-0">
        <button class="text-white font-semibold w-full bg-black rounded-full px-3.5 py-1 border-2 border-[#2A2533]">This week</button>
    </div>
</div>
<div class="divide-y divide-[#1F1B26] pt-10">
{
    CollectorsData.map(({ username, name, percentage, eth,avatar,color }) => (
    <div class="py-4 flex justify-between">
    <div class="flex justify-center gap-x-4">
        <div class="relative inline-block">
            <img src={avatar} class="size-11 border-2 border-[#2A2533] rounded-full" alt="">
            <div class="absolute top-[1.6rem] left-6">
                <Verified />
            </div>
        </div>
        <div class="flex flex-col">
            <p class="text-white font-semibold">{name}</p>
            <p class="text-[#7F35FF] font-medium">{username}</p>
        </div>
    </div>
    <div class="flex items-end flex-col">
        <p class="text-white font-semibold flex justify-center items-center gap-x-2">{percentage} ETH <span><img src="/eth.svg" alt=""></span></p>
        <p class={`${color}  text-sm font-medium flex justify-center items-center`}><Chevron />{eth}%</p>
    </div>
</div>
    ))
}
</div>

</section>